<div class="map" style="background-color:{{bgColor}};background-image:url('{{image.url}}')"></div>
<div class="map-arrow" style="background-color:{{bgColor}};">
  <span class="fa fa-chevron-circle-down"></span> World map
</div>
