@article-summary-image-width: 50%;

#aside-right {
  overflow-y: auto;
}

#aside-right .illustration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article {
  .cover-mask();
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 2%;

  .illustration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .article-content {
    position: relative;
    top: 40%;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 85px 20px;
    border-radius: 10px 10px 0 0;

    & > * {
      line-height: 1.5em;
    }

    h1, .title {
      margin-top: 0;
    }

    p {
      text-align: justify;
    }

    a[data-lightbox] {
      display: block;
      margin: 1rem 0;
    }

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  &.article-color-plum { .article-color('plum'); }
  &.article-color-seance { .article-color('seance'); }
  &.article-color-studio { .article-color('studio'); }
  &.article-color-wisteria { .article-color('wisteria'); }
  &.article-color-pomegranate { .article-color('pomegranate'); }
  &.article-color-sunglo { .article-color('sunglo'); }
  &.article-color-thunderbird { .article-color('thunderbird'); }
  &.article-color-oldbrick { .article-color('oldbrick'); }
  &.article-color-flamingo { .article-color('flamingo'); }
  &.article-color-valencia { .article-color('valencia'); }
  &.article-color-tallpoppy { .article-color('tallpoppy'); }
  &.article-color-monza { .article-color('monza'); }
  &.article-color-cinnabar { .article-color('cinnabar'); }
  &.article-color-tahitigold { .article-color('tahitigold'); }
  &.article-color-casablanca { .article-color('casablanca'); }
  &.article-color-crusta { .article-color('crusta'); }
  &.article-color-burntorange { .article-color('burntorange'); }
  &.article-color-buttercup { .article-color('buttercup'); }
  &.article-color-ecstasy { .article-color('ecstasy'); }
  &.article-color-jaffa { .article-color('jaffa'); }
  &.article-color-zest { .article-color('zest'); }
  &.article-color-firebush { .article-color('firebush'); }
  &.article-color-downy { .article-color('downy'); }
  &.article-color-mountainmeadowlight { .article-color('mountainmeadowlight'); }
  &.article-color-lightgreensea { .article-color('lightgreensea'); }
  &.article-color-turquoise { .article-color('turquoise'); }
  &.article-color-observatory { .article-color('observatory'); }
  &.article-color-shamrock { .article-color('shamrock'); }
  &.article-color-mountainmeadow { .article-color('mountainmeadow'); }
  &.article-color-emeral { .article-color('emeral'); }
  &.article-color-greenhaze { .article-color('greenhaze'); }
  &.article-color-junglegreen { .article-color('junglegreen'); }
  &.article-color-freespeechaquamarine { .article-color('freespeechaquamarine'); }
  &.article-color-jade { .article-color('jade'); }
  &.article-color-salem { .article-color('salem'); }
  &.article-color-eucalyptus { .article-color('eucalyptus'); }
  &.article-color-pictonblue { .article-color('pictonblue'); }
  &.article-color-shakespeare { .article-color('shakespeare'); }
  &.article-color-curiousblue { .article-color('curiousblue'); }
  &.article-color-madison { .article-color('madison'); }
  &.article-color-jordyblue { .article-color('jordyblue'); }
  &.article-color-dodgerblue { .article-color('dodgerblue'); }
  &.article-color-ming { .article-color('ming'); }
  &.article-color-ebonyclay { .article-color('ebonyclay'); }
  &.article-color-malibu { .article-color('malibu'); }
  &.article-color-chambray { .article-color('chambray'); }
  &.article-color-pickledbluewood { .article-color('pickledbluewood'); }
  &.article-color-hoki { .article-color('hoki'); }
  &.article-color-jellybean { .article-color('jellybean'); }
  &.article-color-jacksonpurple { .article-color('jacksonpurple'); }
  &.article-color-steelblue { .article-color('steelblue'); }
  &.article-color-fountainblue { .article-color('fountainblue'); }
}

@media (min-width: @screen-md-min) {
  .article {
    padding: 5%;
  }

  .article .article-content {
    max-width: 850px;
    padding: 30px 50px 85px 50px;
  }
}

.article-summary {
  .summary {
    position: relative;
  }

  .article-new {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media (max-width: @screen-sm-max) {
  .article-summary {
    background-image: none !important;
  }
}

.fullscreen .article-summary {
  .flex-display();
  .align-items(center);
  // display: flex;
  // align-items: center;
  width: 100%;
  min-height: 100%;

  .summary {
    padding: 30px 15px;

    h1, .title {
      margin-top: 0;
      margin-bottom: 5px;
    }

    .date {
      font-weight: bold;
    }

    .btn {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  &.image-template-full {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;

    .illustration { display: none; }

    &.text-position-left, &.text-position-right, &.text-position-right, &.text-position-bottom {
      .summary {
        max-width: 600px;
      }
    }

    &.text-position-left {
      .flex-direction(row);
      // flex-direction: row;
    }

    &.text-position-right {
      .flex-direction(row-reverse);
      // flex-direction: row-reverse;
    }

    &.text-position-top {
      .flex-direction(column);
      // flex-direction: column;
    }

    &.text-position-bottom {
      .flex-direction(column-reverse);
      // flex-direction: column-reverse;
    }
  }

  &.image-template-partial {
    .align-items(stretch);
    // align-items: stretch;

    &.image-position-left {
      .flex-direction(row);
      // flex-direction: row;
    }

    &.image-position-right {
      .flex-direction(row-reverse);
      // flex-direction: row-reverse;
    }

    &.image-position-top {
      .flex-direction(column);
      // flex-direction: column;
    }

    &.image-position-bottom {
      .flex-direction(column-reverse);
      // flex-direction: column-reverse;
    }

    .illustration {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.image-template-thumbnail {
    .illustration {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.article-color-plum { .article-summary-color('plum'); }
  &.article-color-seance { .article-summary-color('seance'); }
  &.article-color-studio { .article-summary-color('studio'); }
  &.article-color-wisteria { .article-summary-color('wisteria'); }
  &.article-color-pomegranate { .article-summary-color('pomegranate'); }
  &.article-color-sunglo { .article-summary-color('sunglo'); }
  &.article-color-thunderbird { .article-summary-color('thunderbird'); }
  &.article-color-oldbrick { .article-summary-color('oldbrick'); }
  &.article-color-flamingo { .article-summary-color('flamingo'); }
  &.article-color-valencia { .article-summary-color('valencia'); }
  &.article-color-tallpoppy { .article-summary-color('tallpoppy'); }
  &.article-color-monza { .article-summary-color('monza'); }
  &.article-color-cinnabar { .article-summary-color('cinnabar'); }
  &.article-color-tahitigold { .article-summary-color('tahitigold'); }
  &.article-color-casablanca { .article-summary-color('casablanca'); }
  &.article-color-crusta { .article-summary-color('crusta'); }
  &.article-color-burntorange { .article-summary-color('burntorange'); }
  &.article-color-buttercup { .article-summary-color('buttercup'); }
  &.article-color-ecstasy { .article-summary-color('ecstasy'); }
  &.article-color-jaffa { .article-summary-color('jaffa'); }
  &.article-color-zest { .article-summary-color('zest'); }
  &.article-color-firebush { .article-summary-color('firebush'); }
  &.article-color-downy { .article-summary-color('downy'); }
  &.article-color-mountainmeadowlight { .article-summary-color('mountainmeadowlight'); }
  &.article-color-lightgreensea { .article-summary-color('lightgreensea'); }
  &.article-color-turquoise { .article-summary-color('turquoise'); }
  &.article-color-observatory { .article-summary-color('observatory'); }
  &.article-color-shamrock { .article-summary-color('shamrock'); }
  &.article-color-mountainmeadow { .article-summary-color('mountainmeadow'); }
  &.article-color-emeral { .article-summary-color('emeral'); }
  &.article-color-greenhaze { .article-summary-color('greenhaze'); }
  &.article-color-junglegreen { .article-summary-color('junglegreen'); }
  &.article-color-freespeechaquamarine { .article-summary-color('freespeechaquamarine'); }
  &.article-color-jade { .article-summary-color('jade'); }
  &.article-color-salem { .article-summary-color('salem'); }
  &.article-color-eucalyptus { .article-summary-color('eucalyptus'); }
  &.article-color-pictonblue { .article-summary-color('pictonblue'); }
  &.article-color-shakespeare { .article-summary-color('shakespeare'); }
  &.article-color-curiousblue { .article-summary-color('curiousblue'); }
  &.article-color-madison { .article-summary-color('madison'); }
  &.article-color-jordyblue { .article-summary-color('jordyblue'); }
  &.article-color-dodgerblue { .article-summary-color('dodgerblue'); }
  &.article-color-ming { .article-summary-color('ming'); }
  &.article-color-ebonyclay { .article-summary-color('ebonyclay'); }
  &.article-color-malibu { .article-summary-color('malibu'); }
  &.article-color-chambray { .article-summary-color('chambray'); }
  &.article-color-pickledbluewood { .article-summary-color('pickledbluewood'); }
  &.article-color-hoki { .article-summary-color('hoki'); }
  &.article-color-jellybean { .article-summary-color('jellybean'); }
  &.article-color-jacksonpurple { .article-summary-color('jacksonpurple'); }
  &.article-color-steelblue { .article-summary-color('steelblue'); }
  &.article-color-fountainblue { .article-summary-color('fountainblue'); }
}

@media (min-width: @screen-md-min) {
  .fullscreen .article-summary .summary {
    padding: 30px;

    .btn {
      width: auto;
    }
  }
}

.zigzag .article-summary {
  position: relative;
  width: 100%;
  margin: 100px 0;
  padding-top: 50px;
  padding-bottom: 50px;

  .illustration {
    position: absolute;
    top: 0;
    bottom: 0;
    width: @article-summary-image-width;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .summary {
    position: relative;
    z-index: 100;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border-width: 3px 3px 6px 3px;
    border-style: solid;
    border-color: #aab3bb;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
  }

  &:nth-child(odd) {
    .illustration {
      left: 0;
      border-radius: 0 10px 10px 0;
    }

    .summary {
      .translate3d(15%, 0, 0);
    }
  }

  &:nth-child(even) {
    .illustration {
      right: 0;
      border-radius: 10px 0 0 10px;
    }

    .summary {
      .translate3d(-15%, 0, 0);
    }
  }
}
