@article-summary-image-width: 50%;

#aside-right {
  overflow-y: auto;
}

#aside-right > .illustration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.article {
  .cover-mask();
  width: 100%;
  height: 100%;
  padding: 5%;
  overflow-x: hidden;
  overflow-y: auto;

  .illustration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .article-content {
    h1, .title {
      margin-top: 0;
    }

    position: relative;
    top: 40%;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10%;
    border-radius: 10px 10px 0 0;
  }
}

.desktop .article .article-content {
  padding: 30px;
}

.fullscreen .article-summary {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100%;

  .summary {
    padding: 30px;
  }

  &.image-template-full {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;

    .illustration { display: none; }

    &.text-position-left, &.text-position-right, &.text-position-right, &.text-position-bottom {
      .summary {
        max-width: 600px;
      }
    }

    &.text-position-left {
      flex-direction: row;
    }

    &.text-position-right {
      flex-direction: row-reverse;
    }

    &.text-position-top {
      flex-direction: column;
    }

    &.text-position-bottom {
      flex-direction: column-reverse;
    }
  }

  &.image-template-partial {
    align-items: stretch;

    &.image-position-left {
      flex-direction: row;
    }

    &.image-position-right {
      flex-direction: row-reverse;
    }

    &.image-position-top {
      flex-direction: column;
    }

    &.image-position-bottom {
      flex-direction: column-reverse;
    }

    .illustration {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &.image-template-thumbnail {
    .illustration {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .summary {
    h1, .title {
      margin-top: 0;
    }
  }

  &.color-seance { .article-color(#9A12B3); }
  &.color-thunderbird { .article-color(#9B59B6); }
}

.zigzag .article-summary {
  position: relative;
  width: 100%;
  margin: 100px 0;
  padding-top: 50px;
  padding-bottom: 50px;

  .illustration {
    position: absolute;
    top: 0;
    bottom: 0;
    width: @article-summary-image-width;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .summary {
    position: relative;
    z-index: 100;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border-width: 3px 3px 6px 3px;
    border-style: solid;
    border-color: #aab3bb;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
  }

  &:nth-child(odd) {
    .illustration {
      left: 0;
      border-radius: 0 10px 10px 0;
    }

    .summary {
      .translate3d(15%, 0, 0);
    }
  }

  &:nth-child(even) {
    .illustration {
      right: 0;
      border-radius: 10px 0 0 10px;
    }

    .summary {
      .translate3d(-15%, 0, 0);
    }
  }
}
