@aside-transition-speed: 300ms;

#mask-right, #mask-feedback, #mask-top {
  .cover-mask();
  display: none;
  background-color: #000000;
  opacity: 0;
  .transition(opacity (2 * @aside-transition-speed) ease);
}

#aside-right, #aside-feedback, #aside-top {
  display: block;
  .cover-mask();
  .transition-transform(@aside-transition-speed ease);
}

#aside-feedback-buttons, #aside-bottom {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  .transition-transform(@aside-transition-speed @aside-transition-speed ease);
}

#aside-right, #aside-feedback {
  background-color: #ffffff;
  .translate3d(100%, 0, 0);
}

#aside-top {
  .translate3d(0, -100%, 0);
}

#aside-feedback-buttons {
  .translate3d(0, 100%, 0);
}

#aside-bottom {
  .translate3d(0, 500%, 0);
}

.aside-right-open {
  #aside-feedback-buttons {
    .translate3d(0, 0, 0);
  }
}

// CSS TRANSITIONS
.aside-right-open {
  #mask-right {
    display: block;
    opacity: .85;
  }

  #aside-right {
    .translate3d(0, 0, 0);
  }
}

.aside-feedback-open {
  #mask-feedback {
    display: block;
    opacity: .85;
  }

  #aside-feedback {
    .translate3d(0, 0, 0);
  }
}

.aside-top-open {
  #mask-top {
    display: block;
    opacity: .85;
  }

  #aside-top {
    .translate3d(0, 0, 0);
  }
}

.aside-bottom-open {
  #aside-bottom {
    .translate3d(0, 0, 0);
  }
}
// END

@media (min-width: @screen-md-min) {
  #aside-right {
    left: 15%;
  }

  #aside-feedback {
    left: 30%;
  }

  #aside-top {
    bottom: 10%;
  }
}
