// #mask-top {
//   z-index: 1000;
// }

// #aside-top {
//   z-index: 1002;
// }

// #mask-right {
//   z-index: 2000;
// }

// #aside-right {
//   z-index: 2001;
// }

@media (min-width: @screen-md-min) {
  #aside-right {
    left: 15%;
  }
}

// #mask-feedback {
//   z-index: 3000;
// }

// #aside-feedback {
//   z-index: 3001;
// }

// #aside-feedback-buttons {
//   z-index: 3002;
// }

#mask-right, #mask-feedback, #mask-top {
  .cover-mask();
  display: none;
  background-color: #000000;
  opacity: 0;
  .transition(opacity 500ms ease);
}

#aside-right, #aside-feedback, #aside-top {
  display: block;
  .cover-mask();
  .transition-transform(250ms ease);
}

#aside-feedback-buttons, #aside-bottom {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  .transition-transform(250ms 250ms ease);
}

#aside-right, #aside-feedback {
  background-color: #ffffff;
  .translate3d(100%, 0, 0);
}

#aside-top {
  .translate3d(0, -100%, 0);
}

#aside-feedback-buttons {
  .translate3d(0, 100%, 0);
}

#aside-bottom {
  .translate3d(0, 500%, 0);
}

.aside-right-open {
  #mask-right {
    display: block;
    opacity: .5;
  }

  #aside-right {
    .translate3d(0, 0, 0);
  }

  #aside-feedback-buttons {
    .translate3d(0, 0, 0);
  }
}

.aside-feedback-open {
  #mask-feedback {
    display: block;
    opacity: .5;
  }

  #aside-feedback {
    .translate3d(0, 0, 0);
  }
}

.aside-top-open {
  #mask-top {
    display: block;
    opacity: .5;
  }

  #aside-top {
    .translate3d(0, 0, 0);
  }
}

.aside-bottom-open {
  #aside-bottom {
    .translate3d(0, 0, 0);
  }
}

@media (min-width: @screen-md-min) {
  #aside-right {
    left: 15%;
  }

  #aside-feedback {
    left: 30%;
  }

  #aside-top {
    bottom: 10%;
  }
}
