.btn {
  .no-appearance();
  color: #ffffff;
  background-color: #c6ccd2;
  border-color: #aab3bb;
  border-width: 1px 1px 4px 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px;
}
