#aside-feedback {
  .buttons {
    position: absolute;
    bottom: -300px;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    .transition(bottom 500ms 250ms, right 500ms;);
    cursor: pointer;
    white-space: nowrap;
    text-align: center;

    .fa {
      margin-right: 10px;
    }
  }

  .disqus-thread {
    padding: 30px 30px 75px 30px;
    max-width: 800px;
    margin: 0 auto;
  }
}

.aside-right-open #aside-feedback .buttons {
  bottom: 0px;
}

.aside-feedback-open #aside-feedback .buttons {
  .btn-feedback .fa::before {
    content: '\f057';
  }
}

.mobile {
  #aside-feedback {
    .buttons {
      right: 100%;
      width: 100%;

      .btn-back, .btn-feedback {
        width: 50%;
        display: inline-block;
      }
    }
  }

  .aside-feedback-open #aside-feedback .buttons {
    right: 0;

    .btn-back { display: none; }
  }
}

.desktop {
  #aside-feedback {
    .buttons {
      right: 115%;
      border-radius: 10px 10px 0 0;

      .btn-back { display: none; }
      .btn-feedback { width: 100%; }
    }
  }

  .aside-feedback-open #aside-feedback .buttons {
    right: 100%;
    border-radius: 10px 0 0 0;
  }
}
