#aside-feedback {
  .disqus-thread {
    padding: 30px 30px 75px 30px;
    max-width: 800px;
    margin: 0 auto;
  }
}

#aside-feedback-buttons .buttons {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  font-weight: 400;

  .btn-back, .btn-feedback {
    padding: 20px;
  }

  .fa {
    margin-right: 10px;
  }
}

@media (max-width: @screen-sm-max) {
  #aside-feedback-buttons {
    .buttons {
      width: 100%;
    }

    .btn-back, .btn-feedback {
      width: 50%;
      display: inline-block;
    }
  }
}

@media (min-width: @screen-md-min) {
  #aside-feedback-buttons .buttons {
    display: inline-block;
    float: right;
    border-radius: 10px 10px 0 0;
    margin-right: 5%;
    .transition(margin-right 300ms ease);

    .btn-back, .btn-feedback { display: inline-block; }
  }

  .aside-feedback-open #aside-feedback-buttons .buttons {
    border-radius: 10px 0 0 0;
    margin-right: 70%;
  }
}

.aside-feedback-open #aside-feedback-buttons {
  .btn-back { width: 100%; }
  .btn-feedback { display: none; }

  .btn-feedback .fa::before {
    content: '\f057';
  }
}
