.tooltipster-base {
  .tooltipster-content {
    h1, h2, h3 {
      font-size: 1rem;
    }
  }

  .tooltipster-arrow {

  }
}

.tooltip-color(@color) {
  color: #ffffff;
  border-color: #ffffff;
  background: @color;
}

.tooltipster-default {
  .tooltip-color(@color-main);
}
